# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependencias del sistema
.DS_Store
Thumbs.db

# Configuraciones de IDE/Editor
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos temporales del sistema operativo
.cache
.temp
.swp
.env

# Archivos de construcción o empaquetado
dist/
build/
.parcel-cache/

# Husky
.husky/_/

# Otros archivos que podrías querer ignorar
.eslintcache
coverage/
